**/target
node_modules/
.env
out/**
!out/.gitkeep
ci/tests/__pycache__/
ci/__pycache__/
ci/venv/
ci/*.html
infra/Pulumi.dev-*.yaml
tls_proxy/*.crt
tls_proxy/*.key
tls_proxy/local_proxy.json
**/__pycache__/

.airplane/

# misc
.DS_Store
*.pem
.idea/
fp_test_server_log_*

# Python hypothesis output
.hypothesis/

*.csv
*.customer_data.json