/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.BatchHostedBusinessOwnerRequest
import org.openapitools.client.models.HostedBusiness
import org.openapitools.client.models.HostedBusinessDetail
import org.openapitools.client.models.HostedBusinessOwner
import org.openapitools.client.models.ModernRawBusinessDataRequest

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class BusinessesApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Get information about the business for which we started a KYC of a beneficial owner
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @return HostedBusinessDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessGet(xKybBoToken: kotlin.String? = null): HttpResponse<HostedBusinessDetail> {

        val localVariableAuthNames = listOf<String>("businessOwnerToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/business",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get information about the beneficial owners of this business
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<HostedBusinessOwner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessOwnersGet(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<HostedBusinessOwner>> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/business/owners",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedBusinessOwnersGetResponse>().map { value }
    }

    @Serializable(HostedBusinessOwnersGetResponse.Companion::class)
    private class HostedBusinessOwnersGetResponse(val value: List<HostedBusinessOwner>) {
        companion object : KSerializer<HostedBusinessOwnersGetResponse> {
            private val serializer: KSerializer<List<HostedBusinessOwner>> = serializer<List<HostedBusinessOwner>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessOwnersGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessOwnersGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Applies multiple operations in batch to update or create business owners. NOTE: the open API documentation for the request is extremely incorrect for this API.
     * @param batchHostedBusinessOwnerRequest 
     * @param xFpIsBootstrap Provide &#x60;true&#x60; if the data in the request is bootstrap data. (optional)
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<HostedBusinessOwner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessOwnersPatch(batchHostedBusinessOwnerRequest: kotlin.collections.List<BatchHostedBusinessOwnerRequest>, xFpIsBootstrap: kotlin.Boolean? = null, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<HostedBusinessOwner>> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = HostedBusinessOwnersPatchRequest(batchHostedBusinessOwnerRequest)

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpIsBootstrap?.apply { localVariableHeaders["X-Fp-Is-Bootstrap"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/hosted/business/owners",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedBusinessOwnersPatchResponse>().map { value }
    }

    @Serializable(HostedBusinessOwnersPatchRequest.Companion::class)
    private class HostedBusinessOwnersPatchRequest(val value: List<BatchHostedBusinessOwnerRequest>) {
        companion object : KSerializer<HostedBusinessOwnersPatchRequest> {
            private val serializer: KSerializer<List<BatchHostedBusinessOwnerRequest>> = serializer<List<BatchHostedBusinessOwnerRequest>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessOwnersPatchRequest) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessOwnersPatchRequest(serializer.deserialize(decoder))
        }
    }
    @Serializable(HostedBusinessOwnersPatchResponse.Companion::class)
    private class HostedBusinessOwnersPatchResponse(val value: List<HostedBusinessOwner>) {
        companion object : KSerializer<HostedBusinessOwnersPatchResponse> {
            private val serializer: KSerializer<List<HostedBusinessOwner>> = serializer<List<HostedBusinessOwner>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessOwnersPatchResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessOwnersPatchResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Updates data in a business vault. Can be used to update &#x60;business.&#x60; data
     * @param modernRawBusinessDataRequest Key-value map of data to add to the business&#39;s vault. For more documentation on available keys, see [here](https://docs.onefootprint.com/articles/vault/fields).
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessVaultPatch(modernRawBusinessDataRequest: ModernRawBusinessDataRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = modernRawBusinessDataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/hosted/business/vault",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Checks if provided vault data is valid before adding it to the business vault
     * @param modernRawBusinessDataRequest Key-value map of data to add to the business&#39;s vault. For more documentation on available keys, see [here](https://docs.onefootprint.com/articles/vault/fields).
     * @param xFpIsBootstrap Provide &#x60;true&#x60; if the data in the request is bootstrap data. (optional)
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessVaultValidatePost(modernRawBusinessDataRequest: ModernRawBusinessDataRequest, xFpIsBootstrap: kotlin.Boolean? = null, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = modernRawBusinessDataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpIsBootstrap?.apply { localVariableHeaders["X-Fp-Is-Bootstrap"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/business/vault/validate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Get information about the businesses owned by the authenticated user
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<HostedBusiness>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessesGet(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<HostedBusiness>> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/businesses",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedBusinessesGetResponse>().map { value }
    }

    @Serializable(HostedBusinessesGetResponse.Companion::class)
    private class HostedBusinessesGetResponse(val value: List<HostedBusiness>) {
        companion object : KSerializer<HostedBusinessesGetResponse> {
            private val serializer: KSerializer<List<HostedBusiness>> = serializer<List<HostedBusiness>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessesGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessesGetResponse(serializer.deserialize(decoder))
        }
    }

}
