/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AuthMethod
import org.openapitools.client.models.AuthorizedOrg
import org.openapitools.client.models.BatchHostedBusinessOwnerRequest
import org.openapitools.client.models.BusinessOnboardingResponse
import org.openapitools.client.models.ChallengeRequest
import org.openapitools.client.models.ChallengeVerifyRequest
import org.openapitools.client.models.CheckSessionResponse
import org.openapitools.client.models.ConsentRequest
import org.openapitools.client.models.CreateDeviceAttestationRequest
import org.openapitools.client.models.CreateDocumentRequest
import org.openapitools.client.models.CreateDocumentResponse
import org.openapitools.client.models.CreateOnboardingTimelineRequest
import org.openapitools.client.models.CreateSdkArgsTokenResponse
import org.openapitools.client.models.CreateUserTokenRequest
import org.openapitools.client.models.CreateUserTokenResponse
import org.openapitools.client.models.D2pGenerateRequest
import org.openapitools.client.models.D2pGenerateResponse
import org.openapitools.client.models.D2pSmsRequest
import org.openapitools.client.models.D2pSmsResponse
import org.openapitools.client.models.D2pStatusResponse
import org.openapitools.client.models.D2pUpdateStatusRequest
import org.openapitools.client.models.DeviceAttestationChallengeResponse
import org.openapitools.client.models.DocumentResponse
import org.openapitools.client.models.EmailVerifyRequest
import org.openapitools.client.models.FingerprintVisitRequest
import org.openapitools.client.models.GetDeviceAttestationChallengeRequest
import org.openapitools.client.models.GetSdkArgsTokenResponse
import org.openapitools.client.models.GetUserTokenResponse
import org.openapitools.client.models.GetVerifyContactInfoResponse
import org.openapitools.client.models.HostedBusiness
import org.openapitools.client.models.HostedBusinessDetail
import org.openapitools.client.models.HostedBusinessOwner
import org.openapitools.client.models.HostedUserDecryptRequest
import org.openapitools.client.models.HostedValidateResponse
import org.openapitools.client.models.IdentifyChallengeResponse
import org.openapitools.client.models.IdentifyRequest
import org.openapitools.client.models.IdentifyRequirementsResponse
import org.openapitools.client.models.IdentifyResponse
import org.openapitools.client.models.IdentifySessionRequest
import org.openapitools.client.models.IdentifySessionResponse
import org.openapitools.client.models.IdentifyVerifyRequest
import org.openapitools.client.models.IdentifyVerifyResponse
import org.openapitools.client.models.KbaResponse
import org.openapitools.client.models.LiteIdentifyRequest
import org.openapitools.client.models.LiteIdentifyResponse
import org.openapitools.client.models.LogBody
import org.openapitools.client.models.LoginChallengeRequest
import org.openapitools.client.models.ModernBusinessDecryptResponse
import org.openapitools.client.models.ModernRawBusinessDataRequest
import org.openapitools.client.models.ModernRawUserDataRequest
import org.openapitools.client.models.NeuroIdentityIdResponse
import org.openapitools.client.models.OnboardingResponse
import org.openapitools.client.models.OnboardingResultResponse
import org.openapitools.client.models.OnboardingSessionResponse
import org.openapitools.client.models.OnboardingStatusResponse
import org.openapitools.client.models.PostBusinessOnboardingRequest
import org.openapitools.client.models.PostOnboardingRequest
import org.openapitools.client.models.ProcessRequest
import org.openapitools.client.models.PublicOnboardingConfiguration
import org.openapitools.client.models.SdkArgs
import org.openapitools.client.models.SignupChallengeRequest
import org.openapitools.client.models.SkipPasskeyRegisterRequest
import org.openapitools.client.models.SocureDeviceSessionIdRequest
import org.openapitools.client.models.StytchTelemetryRequest
import org.openapitools.client.models.UserChallengeRequest
import org.openapitools.client.models.UserChallengeResponse
import org.openapitools.client.models.UserChallengeVerifyRequest
import org.openapitools.client.models.UserChallengeVerifyResponse
import org.openapitools.client.models.UserDecryptRequest

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class HostedApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Get information about the business for which we started a KYC of a beneficial owner
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @return HostedBusinessDetail
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessGet_0(xKybBoToken: kotlin.String? = null): HttpResponse<HostedBusinessDetail> {

        val localVariableAuthNames = listOf<String>("businessOwnerToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/business",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Gets or creates the business Onboarding, optionally accepting an existing business. You can select an existing business from the results of &#x60;GET /hosted/businesses&#x60;.
     * @param postBusinessOnboardingRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return BusinessOnboardingResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessOnboardingPost_0(postBusinessOnboardingRequest: PostBusinessOnboardingRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<BusinessOnboardingResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = postBusinessOnboardingRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/business/onboarding",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Get information about the beneficial owners of this business
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<HostedBusinessOwner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessOwnersGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<HostedBusinessOwner>> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/business/owners",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedBusinessOwnersGet0Response>().map { value }
    }

    @Serializable(HostedBusinessOwnersGet0Response.Companion::class)
    private class HostedBusinessOwnersGet0Response(val value: List<HostedBusinessOwner>) {
        companion object : KSerializer<HostedBusinessOwnersGet0Response> {
            private val serializer: KSerializer<List<HostedBusinessOwner>> = serializer<List<HostedBusinessOwner>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessOwnersGet0Response) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessOwnersGet0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Applies multiple operations in batch to update or create business owners. NOTE: the open API documentation for the request is extremely incorrect for this API.
     * @param batchHostedBusinessOwnerRequest 
     * @param xFpIsBootstrap Provide &#x60;true&#x60; if the data in the request is bootstrap data. (optional)
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<HostedBusinessOwner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessOwnersPatch_0(batchHostedBusinessOwnerRequest: kotlin.collections.List<BatchHostedBusinessOwnerRequest>, xFpIsBootstrap: kotlin.Boolean? = null, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<HostedBusinessOwner>> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = HostedBusinessOwnersPatch0Request(batchHostedBusinessOwnerRequest)

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpIsBootstrap?.apply { localVariableHeaders["X-Fp-Is-Bootstrap"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/hosted/business/owners",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedBusinessOwnersPatch0Response>().map { value }
    }

    @Serializable(HostedBusinessOwnersPatch0Request.Companion::class)
    private class HostedBusinessOwnersPatch0Request(val value: List<BatchHostedBusinessOwnerRequest>) {
        companion object : KSerializer<HostedBusinessOwnersPatch0Request> {
            private val serializer: KSerializer<List<BatchHostedBusinessOwnerRequest>> = serializer<List<BatchHostedBusinessOwnerRequest>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessOwnersPatch0Request) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessOwnersPatch0Request(serializer.deserialize(decoder))
        }
    }
    @Serializable(HostedBusinessOwnersPatch0Response.Companion::class)
    private class HostedBusinessOwnersPatch0Response(val value: List<HostedBusinessOwner>) {
        companion object : KSerializer<HostedBusinessOwnersPatch0Response> {
            private val serializer: KSerializer<List<HostedBusinessOwner>> = serializer<List<HostedBusinessOwner>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessOwnersPatch0Response) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessOwnersPatch0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Decrypts the specified list of fields from the provided vault.
     * @param userDecryptRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return ModernBusinessDecryptResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessVaultDecryptPost_1(userDecryptRequest: UserDecryptRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<ModernBusinessDecryptResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = userDecryptRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/business/vault/decrypt",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Updates data in a business vault. Can be used to update &#x60;business.&#x60; data
     * @param modernRawBusinessDataRequest Key-value map of data to add to the business&#39;s vault. For more documentation on available keys, see [here](https://docs.onefootprint.com/articles/vault/fields).
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessVaultPatch_0(modernRawBusinessDataRequest: ModernRawBusinessDataRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = modernRawBusinessDataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/hosted/business/vault",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Checks if provided vault data is valid before adding it to the business vault
     * @param modernRawBusinessDataRequest Key-value map of data to add to the business&#39;s vault. For more documentation on available keys, see [here](https://docs.onefootprint.com/articles/vault/fields).
     * @param xFpIsBootstrap Provide &#x60;true&#x60; if the data in the request is bootstrap data. (optional)
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessVaultValidatePost_0(modernRawBusinessDataRequest: ModernRawBusinessDataRequest, xFpIsBootstrap: kotlin.Boolean? = null, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = modernRawBusinessDataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpIsBootstrap?.apply { localVariableHeaders["X-Fp-Is-Bootstrap"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/business/vault/validate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Get information about the businesses owned by the authenticated user
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<HostedBusiness>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessesGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<HostedBusiness>> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/businesses",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedBusinessesGet0Response>().map { value }
    }

    @Serializable(HostedBusinessesGet0Response.Companion::class)
    private class HostedBusinessesGet0Response(val value: List<HostedBusiness>) {
        companion object : KSerializer<HostedBusinessesGet0Response> {
            private val serializer: KSerializer<List<HostedBusiness>> = serializer<List<HostedBusiness>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedBusinessesGet0Response) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedBusinessesGet0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Checks a hosted session token for expiration/validity
     * @param xFpAuthorization Session token. (optional)
     * @return CheckSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedCheckSessionGet(xFpAuthorization: kotlin.String? = null): HttpResponse<CheckSessionResponse> {

        val localVariableAuthNames = listOf<String>("sessionToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/check_session",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Process the document and run any vendor verifications.
     * @param id 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return DocumentResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedDocumentsIdProcessPost_0(id: kotlin.String, xFpAuthorization: kotlin.String? = null): HttpResponse<DocumentResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/documents/{id}/process".replace("{" + "Id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter side
     */
    @Serializable
    enum class SideHostedDocumentsIdUploadSidePost0(val value: kotlin.String) {
        
        @SerialName(value = "front")
        front("front"),
        
        @SerialName(value = "back")
        back("back"),
        
        @SerialName(value = "selfie")
        selfie("selfie")
        
    }

    /**
     * 
     * Upload an image for the given side to the provided document.
     * @param id 
     * @param side 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedDocumentsIdUploadSidePost_0(id: kotlin.String, side: SideHostedDocumentsIdUploadSidePost0, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/documents/{id}/upload/{side}".replace("{" + "Id" + "}", "$id").replace("{" + "Side" + "}", "${ side.value }"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Create a new document for the outstanding document request
     * @param createDocumentRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return CreateDocumentResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedDocumentsPost_0(createDocumentRequest: CreateDocumentRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<CreateDocumentResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = createDocumentRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Respond to a KBA challenge to prove knowledge of existing data in the vault.
     * @param modernRawUserDataRequest Key-value map of data to add to the user&#39;s vault. For more documentation on available keys, see [here](https://docs.onefootprint.com/articles/vault/fields).
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return KbaResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyKbaPost_0(modernRawUserDataRequest: ModernRawUserDataRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<KbaResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = modernRawUserDataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/kba",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Tries to identify an existing user by either phone number or email and returns whether a user exists. This is used exclusively in our SDK to check proactively if bootstrapped data identifies an existing user. This is very similar to the normal identify API, but it has a much simpler API will hopefully be more stable than the normal identify API since changes will break old SDK versions.
     * @param liteIdentifyRequest 
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @param xOnboardingConfigKey Long-lived, publishable key representing an onboarding configuration. You can create and view your credentials in the dashboard. (optional)
     * @return LiteIdentifyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyLitePost_0(liteIdentifyRequest: LiteIdentifyRequest, xKybBoToken: kotlin.String? = null, xOnboardingConfigKey: kotlin.String? = null): HttpResponse<LiteIdentifyResponse> {

        val localVariableAuthNames = listOf<String>("businessOwnerToken", "onboardingConfigToken", "onboardingConfigPublishableKey")

        val localVariableBody = liteIdentifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/lite",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Sends a challenge to the phone number and returns an HTTP 200. When the challenge is completed through the identify/verify endpoint, the client can get or create the user with this phone number.
     * @param loginChallengeRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return IdentifyChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyLoginChallengePost_0(loginChallengeRequest: LoginChallengeRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<IdentifyChallengeResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = loginChallengeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/login_challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Tries to identify an existing user by either phone number or email. If the user is found, returns available challenge kinds.
     * @param identifyRequest 
     * @param xSandboxId When provided, creates a sandbox user with the provided sandbox ID. Sandbox IDs allow you to create multiple users with the same contact info. In order to log in using an existing sandbox user, you can provide its Sandbox ID in the Footprint flow.              (optional)
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @param xOnboardingConfigKey Long-lived, publishable key representing an onboarding configuration. You can create and view your credentials in the dashboard. (optional)
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return IdentifyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyPost_0(identifyRequest: IdentifyRequest, xSandboxId: kotlin.String? = null, xKybBoToken: kotlin.String? = null, xOnboardingConfigKey: kotlin.String? = null, xFpAuthorization: kotlin.String? = null): HttpResponse<IdentifyResponse> {

        val localVariableAuthNames = listOf<String>("userToken", "businessOwnerToken", "onboardingConfigToken", "onboardingConfigPublishableKey")

        val localVariableBody = identifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xSandboxId?.apply { localVariableHeaders["X-Sandbox-Id"] = this.toString() }
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Sends a challenge to the phone number or email saved in this identify session and returns an HTTP 200
     * @param challengeRequest 
     * @param xFpAuthorization Short-lived auth token for an identify session. (optional)
     * @return IdentifyChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySessionChallengePost_0(challengeRequest: ChallengeRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<IdentifyChallengeResponse> {

        val localVariableAuthNames = listOf<String>("Identify Token")

        val localVariableBody = challengeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/session/challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Verifies the response to a challenge
     * @param challengeVerifyRequest 
     * @param xFpAuthorization Short-lived auth token for an identify session. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySessionChallengeVerifyPost_0(challengeVerifyRequest: ChallengeVerifyRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("Identify Token")

        val localVariableBody = challengeVerifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/session/challenge/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Creates an identify session token.
     * @param identifySessionRequest 
     * @param xSandboxId When provided, creates a sandbox user with the provided sandbox ID. Sandbox IDs allow you to create multiple users with the same contact info. In order to log in using an existing sandbox user, you can provide its Sandbox ID in the Footprint flow.              (optional)
     * @param xFpIsBootstrap Provide &#x60;true&#x60; if the data in the request is bootstrap data. (optional)
     * @param xFpIsComponentsSdk When a non-empty value is provided, indicates that the request is originating from the components SDK (optional)
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @param xOnboardingConfigKey Long-lived, publishable key representing an onboarding configuration. You can create and view your credentials in the dashboard. (optional)
     * @return IdentifySessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySessionPost_0(identifySessionRequest: IdentifySessionRequest, xSandboxId: kotlin.String? = null, xFpIsBootstrap: kotlin.Boolean? = null, xFpIsComponentsSdk: kotlin.Boolean? = null, xKybBoToken: kotlin.String? = null, xOnboardingConfigKey: kotlin.String? = null): HttpResponse<IdentifySessionResponse> {

        val localVariableAuthNames = listOf<String>("businessOwnerToken", "onboardingConfigToken", "onboardingConfigPublishableKey")

        val localVariableBody = identifySessionRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xSandboxId?.apply { localVariableHeaders["X-Sandbox-Id"] = this.toString() }
        xFpIsBootstrap?.apply { localVariableHeaders["X-Fp-Is-Bootstrap"] = this.toString() }
        xFpIsComponentsSdk?.apply { localVariableHeaders["X-Fp-Is-Components-Sdk"] = this.toString() }
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/session",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Returns the list of requirements for an identify session.
     * @param xFpAuthorization Short-lived auth token for an identify session. (optional)
     * @return IdentifyRequirementsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySessionRequirementsGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<IdentifyRequirementsResponse> {

        val localVariableAuthNames = listOf<String>("Identify Token")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/identify/session/requirements",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Updates the data stored in this identify session.
     * @param modernRawUserDataRequest Key-value map of data to add to the user&#39;s vault. For more documentation on available keys, see [here](https://docs.onefootprint.com/articles/vault/fields).
     * @param xFpAuthorization Short-lived auth token for an identify session. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySessionVaultPatch_0(modernRawUserDataRequest: ModernRawUserDataRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("Identify Token")

        val localVariableBody = modernRawUserDataRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/hosted/identify/session/vault",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Verifies that all identify requirements have been met.
     * @param xFpAuthorization Short-lived auth token for an identify session. (optional)
     * @return IdentifyVerifyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySessionVerifyPost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<IdentifyVerifyResponse> {

        val localVariableAuthNames = listOf<String>("Identify Token")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/session/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Sends a challenge to a phone number or email and returns an HTTP 200. When the challenge is completed through the identify/verify endpoint, the client can begin onboarding the user.
     * @param signupChallengeRequest 
     * @param xSandboxId When provided, creates a sandbox user with the provided sandbox ID. Sandbox IDs allow you to create multiple users with the same contact info. In order to log in using an existing sandbox user, you can provide its Sandbox ID in the Footprint flow.              (optional)
     * @param xFpIsComponentsSdk When a non-empty value is provided, indicates that the request is originating from the components SDK (optional)
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @param xOnboardingConfigKey Long-lived, publishable key representing an onboarding configuration. You can create and view your credentials in the dashboard. (optional)
     * @return IdentifyChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifySignupChallengePost_0(signupChallengeRequest: SignupChallengeRequest, xSandboxId: kotlin.String? = null, xFpIsComponentsSdk: kotlin.Boolean? = null, xKybBoToken: kotlin.String? = null, xOnboardingConfigKey: kotlin.String? = null): HttpResponse<IdentifyChallengeResponse> {

        val localVariableAuthNames = listOf<String>("businessOwnerToken", "onboardingConfigToken", "onboardingConfigPublishableKey")

        val localVariableBody = signupChallengeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xSandboxId?.apply { localVariableHeaders["X-Sandbox-Id"] = this.toString() }
        xFpIsComponentsSdk?.apply { localVariableHeaders["X-Fp-Is-Components-Sdk"] = this.toString() }
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/signup_challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Generate a validation token after the user finishes the identify flow.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return HostedValidateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyValidationTokenPost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<HostedValidateResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/validation_token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get context on a verify contact info session.
     * @param xFpAuthorization Short-lived auth token for async verification of contact info. (optional)
     * @return GetVerifyContactInfoResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyVerifyContactInfoGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<GetVerifyContactInfoResponse> {

        val localVariableAuthNames = listOf<String>("Async contact info verification token")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/identify/verify_contact_info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Creates an auth event to mark the provided contact info as verified.
     * @param xFpAuthorization Short-lived auth token for async verification of contact info. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyVerifyContactInfoPost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("Async contact info verification token")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/verify_contact_info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Verifies the response to either an SMS or biometric challenge. When the challenge response is verified, we will return an auth token for the user. If no user exists (which may only happen after a phone challenge), we will create a new user with the provided phone number
     * @param identifyVerifyRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return IdentifyVerifyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyVerifyPost_0(identifyVerifyRequest: IdentifyVerifyRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<IdentifyVerifyResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = identifyVerifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Mark the onboarding as authorized and initiate IDV checks
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingAuthorizePost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/authorize",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Returns the workflow&#39;s status. Only available for demo tenants and POS tenants.
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return OnboardingResultResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingAvisResultPost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<OnboardingResultResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/avis_result",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Get the details of an onboarding configuration.
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @param xOnboardingConfigKey Long-lived, publishable key representing an onboarding configuration. You can create and view your credentials in the dashboard. (optional)
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return PublicOnboardingConfiguration
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingConfigGet_1(xKybBoToken: kotlin.String? = null, xOnboardingConfigKey: kotlin.String? = null, xFpAuthorization: kotlin.String? = null): HttpResponse<PublicOnboardingConfiguration> {

        val localVariableAuthNames = listOf<String>("userToken", "businessOwnerToken", "onboardingConfigToken", "onboardingConfigPublishableKey")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/onboarding/config",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Generates a new d2p session token for the currently authenticated user. The d2p session token has a limited scope, and also includes some status metadata for syncing state across the phone and desktop.
     * @param d2pGenerateRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return D2pGenerateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingD2pGenerate_0(d2pGenerateRequest: D2pGenerateRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<D2pGenerateResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = d2pGenerateRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/d2p/generate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Send an SMS with a link to the phone onboarding page.
     * @param d2pSmsRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return D2pSmsResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingD2pSms_0(d2pSmsRequest: D2pSmsRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<D2pSmsResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = d2pSmsRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/d2p/sms",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Update the status of the provided d2p session. Only allows updating to certain statuses.
     * @param d2pUpdateStatusRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingD2pStatusPost_0(d2pUpdateStatusRequest: D2pUpdateStatusRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = d2pUpdateStatusRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/d2p/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Gets the status of the provided d2p session. Requires the d2p session token as the auth header.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return D2pStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingD2pStatus_0(xFpAuthorization: kotlin.String? = null): HttpResponse<D2pStatusResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/onboarding/d2p/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Records a fingerprint visitorID for the Fingerprint SDK in the frontend
     * @param fingerprintVisitRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingFpPost_0(fingerprintVisitRequest: FingerprintVisitRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = fingerprintVisitRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/fp",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Retrieve identifier used for NeuroId
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return NeuroIdentityIdResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingNidGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<NeuroIdentityIdResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/onboarding/nid",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Gets or creates the Onboarding for this (user, ob_config) pair.
     * @param xKybBoToken Token to initialize KYC of a business owner. Uniquely identifies a business and beneficial owner. (optional)
     * @param xOnboardingConfigKey Long-lived, publishable key representing an onboarding configuration. You can create and view your credentials in the dashboard. (optional)
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @param postOnboardingRequest  (optional)
     * @return OnboardingResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingPost_0(xKybBoToken: kotlin.String? = null, xOnboardingConfigKey: kotlin.String? = null, xFpAuthorization: kotlin.String? = null, postOnboardingRequest: PostOnboardingRequest? = null): HttpResponse<OnboardingResponse> {

        val localVariableAuthNames = listOf<String>("userToken", "businessOwnerToken", "onboardingConfigToken", "onboardingConfigPublishableKey")

        val localVariableBody = postOnboardingRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xKybBoToken?.apply { localVariableHeaders["X-Kyb-Bo-Token"] = this.toString() }
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * initiates privacy pass protocol.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return void
     */
    open suspend fun hostedOnboardingPrivacyPassGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/onboarding/privacy_pass",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Continue processing the onboarding after user this stage of user input has finished
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @param processRequest  (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingProcessPost_0(xFpAuthorization: kotlin.String? = null, processRequest: ProcessRequest? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = processRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/process",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Records a deviceSessionId from the Socure Device SDK in the frontend
     * @param socureDeviceSessionIdRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingSdsPost_0(socureDeviceSessionIdRequest: SocureDeviceSessionIdRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = socureDeviceSessionIdRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/sds",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Fetch information from an existing onboarding session token.
     * @param xOnboardingConfigKey Short-lived token representing a playbook. (optional)
     * @return OnboardingSessionResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingSessionGet_0(xOnboardingConfigKey: kotlin.String? = null): HttpResponse<OnboardingSessionResponse> {

        val localVariableAuthNames = listOf<String>("onboardingConfigToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xOnboardingConfigKey?.apply { localVariableHeaders["X-Onboarding-Config-Key"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/onboarding/session",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Tells us that a passkey registration was skipped
     * @param skipPasskeyRegisterRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingSkipPasskeyRegisterPost_0(skipPasskeyRegisterRequest: SkipPasskeyRegisterRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = skipPasskeyRegisterRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/skip_passkey_register",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Returns the remaining onboarding requirements to complete the onboarding.
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return OnboardingStatusResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingStatusGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<OnboardingStatusResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/onboarding/status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Performs a lookup with Stytch on the passed up telemetry_id and records the response + risk signals
     * @param stytchTelemetryRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingTelPost_0(stytchTelemetryRequest: StytchTelemetryRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = stytchTelemetryRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/tel",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Log a timeline event for this user using a frontend-provided page identifier
     * @param createOnboardingTimelineRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingTimelinePost_0(createOnboardingTimelineRequest: CreateOnboardingTimelineRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = createOnboardingTimelineRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/timeline",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Finish onboarding the user. Returns the validation token that can be exchanged for a permanent Footprint user token.
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return HostedValidateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedOnboardingValidatePost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<HostedValidateResponse> {

        val localVariableAuthNames = listOf<String>("userToken", "userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/onboarding/validate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * initiate the attestation challenge
     * Generate a device attestation challenge
     * @param getDeviceAttestationChallengeRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return DeviceAttestationChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserAttestDeviceChallengePost(getDeviceAttestationChallengeRequest: GetDeviceAttestationChallengeRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<DeviceAttestationChallengeResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = getDeviceAttestationChallengeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/attest_device/challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * receive the attestation
     * Parses and accepts a user&#39;s onboarding device attestation
     * @param createDeviceAttestationRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserAttestDevicePost(createDeviceAttestationRequest: CreateDeviceAttestationRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = createDeviceAttestationRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/attest_device",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Returns information about the auth methods this user has registered.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<AuthMethod>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserAuthMethodsGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<AuthMethod>> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/auth_methods",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedUserAuthMethodsGet0Response>().map { value }
    }

    @Serializable(HostedUserAuthMethodsGet0Response.Companion::class)
    private class HostedUserAuthMethodsGet0Response(val value: List<AuthMethod>) {
        companion object : KSerializer<HostedUserAuthMethodsGet0Response> {
            private val serializer: KSerializer<List<AuthMethod>> = serializer<List<AuthMethod>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedUserAuthMethodsGet0Response) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedUserAuthMethodsGet0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Returns a list of organizations onto which the user has onboarded
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<AuthorizedOrg>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserAuthorizedOrgsGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<AuthorizedOrg>> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/authorized_orgs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedUserAuthorizedOrgsGet0Response>().map { value }
    }

    @Serializable(HostedUserAuthorizedOrgsGet0Response.Companion::class)
    private class HostedUserAuthorizedOrgsGet0Response(val value: List<AuthorizedOrg>) {
        companion object : KSerializer<HostedUserAuthorizedOrgsGet0Response> {
            private val serializer: KSerializer<List<AuthorizedOrg>> = serializer<List<AuthorizedOrg>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedUserAuthorizedOrgsGet0Response) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedUserAuthorizedOrgsGet0Response(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Sends a challenge of the requested kind
     * @param userChallengeRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return UserChallengeResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserChallengePost_0(userChallengeRequest: UserChallengeRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<UserChallengeResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = userChallengeRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/challenge",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Verify the previously sent challenge and attach the new form of contact info to the vault
     * @param userChallengeVerifyRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return UserChallengeVerifyResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserChallengeVerifyPost_0(userChallengeVerifyRequest: UserChallengeVerifyRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<UserChallengeVerifyResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = userChallengeVerifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/challenge/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Records a user&#39;s consent to collection of their images.
     * @param consentRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserConsentPost_0(consentRequest: ConsentRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = consentRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/consent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Process the document and run any vendor verifications.
     * @param id 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return DocumentResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserDocumentsIdProcessPost_0(id: kotlin.String, xFpAuthorization: kotlin.String? = null): HttpResponse<DocumentResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/documents/{id}/process".replace("{" + "Id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * enum for parameter side
     */
    @Serializable
    enum class SideHostedUserDocumentsIdUploadSidePost0(val value: kotlin.String) {
        
        @SerialName(value = "front")
        front("front"),
        
        @SerialName(value = "back")
        back("back"),
        
        @SerialName(value = "selfie")
        selfie("selfie")
        
    }

    /**
     * 
     * Upload an image for the given side to the provided document.
     * @param id 
     * @param side 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserDocumentsIdUploadSidePost_0(id: kotlin.String, side: SideHostedUserDocumentsIdUploadSidePost0, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/documents/{id}/upload/{side}".replace("{" + "Id" + "}", "$id").replace("{" + "Side" + "}", "${ side.value }"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Create a new document for the outstanding document request
     * @param createDocumentRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return CreateDocumentResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserDocumentsPost_0(createDocumentRequest: CreateDocumentRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<CreateDocumentResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = createDocumentRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/documents",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Used to asynchronously verify a user&#39;s email address. Requires the token sent to the users email.
     * @param emailVerifyRequest 
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserEmailVerifyPost_0(emailVerifyRequest: EmailVerifyRequest): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = emailVerifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/email/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Expires the session defined by &#x60;x-fp-authorization&#x60;
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserExpireSessionPost_0(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/expire_session",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Returns information about the auth token. Can only be used in sandbox mode for demo tenants.
     * @param xFpAuthorization Short-lived auth token for an integration testing user during bifrost. (optional)
     * @return void
     */
    open suspend fun hostedUserPrivateTokenGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("integrationTestingUserOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/private/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Returns information about a given auth token.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return GetUserTokenResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserTokenGet_0(xFpAuthorization: kotlin.String? = null): HttpResponse<GetUserTokenResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Create a new token with the requested scopes using the permissions granted by the existing token. Used to create a secondary token with more limited scope. The new token&#39;s expiry time is the same as the old token&#39;s
     * @param createUserTokenRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return CreateUserTokenResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserTokensPost_0(createUserTokenRequest: CreateUserTokenRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<CreateUserTokenResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = createUserTokenRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }




    /**
     * enum for parameter documentIdentifier
     */
    @Serializable
    enum class DocumentIdentifierHostedUserUploadDocumentIdentifierPost0(val value: kotlin.String) {
        
        @SerialName(value = "id.first_name")
        idPeriodFirst_name("id.first_name"),
        
        @SerialName(value = "id.middle_name")
        idPeriodMiddle_name("id.middle_name"),
        
        @SerialName(value = "id.last_name")
        idPeriodLast_name("id.last_name"),
        
        @SerialName(value = "id.dob")
        idPeriodDob("id.dob"),
        
        @SerialName(value = "id.ssn4")
        idPeriodSsn4("id.ssn4"),
        
        @SerialName(value = "id.ssn9")
        idPeriodSsn9("id.ssn9"),
        
        @SerialName(value = "id.address_line1")
        idPeriodAddress_line1("id.address_line1"),
        
        @SerialName(value = "id.address_line2")
        idPeriodAddress_line2("id.address_line2"),
        
        @SerialName(value = "id.city")
        idPeriodCity("id.city"),
        
        @SerialName(value = "id.state")
        idPeriodState("id.state"),
        
        @SerialName(value = "id.zip")
        idPeriodZip("id.zip"),
        
        @SerialName(value = "id.country")
        idPeriodCountry("id.country"),
        
        @SerialName(value = "id.email")
        idPeriodEmail("id.email"),
        
        @SerialName(value = "id.phone_number")
        idPeriodPhone_number("id.phone_number"),
        
        @SerialName(value = "id.us_legal_status")
        idPeriodUs_legal_status("id.us_legal_status"),
        
        @SerialName(value = "id.visa_kind")
        idPeriodVisa_kind("id.visa_kind"),
        
        @SerialName(value = "id.visa_expiration_date")
        idPeriodVisa_expiration_date("id.visa_expiration_date"),
        
        @SerialName(value = "id.nationality")
        idPeriodNationality("id.nationality"),
        
        @SerialName(value = "id.citizenships")
        idPeriodCitizenships("id.citizenships"),
        
        @SerialName(value = "id.drivers_license_number")
        idPeriodDrivers_license_number("id.drivers_license_number"),
        
        @SerialName(value = "id.drivers_license_state")
        idPeriodDrivers_license_state("id.drivers_license_state"),
        
        @SerialName(value = "id.itin")
        idPeriodItin("id.itin"),
        
        @SerialName(value = "id.us_tax_id")
        idPeriodUs_tax_id("id.us_tax_id"),
        
        @SerialName(value = "business.name")
        businessPeriodName("business.name"),
        
        @SerialName(value = "business.dba")
        businessPeriodDba("business.dba"),
        
        @SerialName(value = "business.website")
        businessPeriodWebsite("business.website"),
        
        @SerialName(value = "business.phone_number")
[...]
