/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AuthMethod
import org.openapitools.client.models.ConsentRequest
import org.openapitools.client.models.CreateUserTokenRequest
import org.openapitools.client.models.CreateUserTokenResponse
import org.openapitools.client.models.EmailVerifyRequest
import org.openapitools.client.models.GetUserTokenResponse
import org.openapitools.client.models.HostedUserDecryptRequest
import org.openapitools.client.models.HostedValidateResponse
import org.openapitools.client.models.ModernBusinessDecryptResponse
import org.openapitools.client.models.ModernUserDecryptResponse
import org.openapitools.client.models.UserDecryptRequest

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class UserApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Decrypts the specified list of fields from the provided vault.
     * @param userDecryptRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return ModernBusinessDecryptResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedBusinessVaultDecryptPost_0(userDecryptRequest: UserDecryptRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<ModernBusinessDecryptResponse> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = userDecryptRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/business/vault/decrypt",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Generate a validation token after the user finishes the identify flow.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return HostedValidateResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedIdentifyValidationTokenPost(xFpAuthorization: kotlin.String? = null): HttpResponse<HostedValidateResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/identify/validation_token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Returns information about the auth methods this user has registered.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<AuthMethod>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserAuthMethodsGet(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<AuthMethod>> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/auth_methods",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedUserAuthMethodsGetResponse>().map { value }
    }

    @Serializable(HostedUserAuthMethodsGetResponse.Companion::class)
    private class HostedUserAuthMethodsGetResponse(val value: List<AuthMethod>) {
        companion object : KSerializer<HostedUserAuthMethodsGetResponse> {
            private val serializer: KSerializer<List<AuthMethod>> = serializer<List<AuthMethod>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedUserAuthMethodsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedUserAuthMethodsGetResponse(serializer.deserialize(decoder))
        }
    }

    /**
     * 
     * Records a user&#39;s consent to collection of their images.
     * @param consentRequest 
     * @param xFpAuthorization Short-lived auth token for a user during bifrost. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserConsentPost(consentRequest: ConsentRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userOnboardingToken")

        val localVariableBody = consentRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/consent",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Used to asynchronously verify a user&#39;s email address. Requires the token sent to the users email.
     * @param emailVerifyRequest 
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserEmailVerifyPost(emailVerifyRequest: EmailVerifyRequest): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>()

        val localVariableBody = emailVerifyRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/email/verify",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Expires the session defined by &#x60;x-fp-authorization&#x60;
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.String
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserExpireSessionPost(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.String> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/expire_session",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Returns information about the auth token. Can only be used in sandbox mode for demo tenants.
     * @param xFpAuthorization Short-lived auth token for an integration testing user during bifrost. (optional)
     * @return void
     */
    open suspend fun hostedUserPrivateTokenGet(xFpAuthorization: kotlin.String? = null): HttpResponse<Unit> {

        val localVariableAuthNames = listOf<String>("integrationTestingUserOnboardingToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/private/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Returns information about a given auth token.
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return GetUserTokenResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserTokenGet(xFpAuthorization: kotlin.String? = null): HttpResponse<GetUserTokenResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }


    /**
     * 
     * Create a new token with the requested scopes using the permissions granted by the existing token. Used to create a secondary token with more limited scope. The new token&#39;s expiry time is the same as the old token&#39;s
     * @param createUserTokenRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return CreateUserTokenResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserTokensPost(createUserTokenRequest: CreateUserTokenRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<CreateUserTokenResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = createUserTokenRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/tokens",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



    /**
     * 
     * Decrypts the specified list of fields from the provided vault.
     * @param hostedUserDecryptRequest 
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return ModernUserDecryptResponse
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserVaultDecryptPost_0(hostedUserDecryptRequest: HostedUserDecryptRequest, xFpAuthorization: kotlin.String? = null): HttpResponse<ModernUserDecryptResponse> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = hostedUserDecryptRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/hosted/user/vault/decrypt",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap()
    }



}
