.gradle
.DS_Store
/build
/footprint-android/build
/captures
.externalNativeBuild
.cxx
local.properties
debug.log

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.iml

# Maven
target/