.footprint-components-modal {
  opacity: 0;
  transition: 0.3s transform ease-in-out;
  will-change: transform;
}

.footprint-components-modal-loading {
  opacity: 0;
  transform: translate(480px);
}

.footprint-components-modal-loaded {
  opacity: 1;
  transform: translate(0);
}
