/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import org.openapitools.client.models.AuthorizedOrg

import org.openapitools.client.infrastructure.*
import io.ktor.client.HttpClient
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import kotlinx.serialization.json.Json
import io.ktor.http.ParametersBuilder
import kotlinx.serialization.*
import kotlinx.serialization.descriptors.*
import kotlinx.serialization.encoding.*

open class My1fpApi : ApiClient {

    constructor(
        baseUrl: String = ApiClient.BASE_URL,
        httpClientEngine: HttpClientEngine? = null,
        httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
        jsonSerializer: Json = ApiClient.JSON_DEFAULT
    ) : super(baseUrl = baseUrl, httpClientEngine = httpClientEngine, httpClientConfig = httpClientConfig, jsonBlock = jsonSerializer)

    constructor(
        baseUrl: String,
        httpClient: HttpClient
    ): super(baseUrl = baseUrl, httpClient = httpClient)

    /**
     * 
     * Returns a list of organizations onto which the user has onboarded
     * @param xFpAuthorization Short-lived auth token for a user. Issued by identify and contains scopes to perform specific user actions. (optional)
     * @return kotlin.collections.List<AuthorizedOrg>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun hostedUserAuthorizedOrgsGet(xFpAuthorization: kotlin.String? = null): HttpResponse<kotlin.collections.List<AuthorizedOrg>> {

        val localVariableAuthNames = listOf<String>("userToken")

        val localVariableBody = 
            io.ktor.client.utils.EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        val localVariableHeaders = mutableMapOf<String, String>()
        xFpAuthorization?.apply { localVariableHeaders["X-Fp-Authorization"] = this.toString() }

        val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/hosted/user/authorized_orgs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
        ).wrap<HostedUserAuthorizedOrgsGetResponse>().map { value }
    }

    @Serializable(HostedUserAuthorizedOrgsGetResponse.Companion::class)
    private class HostedUserAuthorizedOrgsGetResponse(val value: List<AuthorizedOrg>) {
        companion object : KSerializer<HostedUserAuthorizedOrgsGetResponse> {
            private val serializer: KSerializer<List<AuthorizedOrg>> = serializer<List<AuthorizedOrg>>()
            override val descriptor = serializer.descriptor
            override fun serialize(encoder: Encoder, obj: HostedUserAuthorizedOrgsGetResponse) = serializer.serialize(encoder, obj.value)
            override fun deserialize(decoder: Decoder) = HostedUserAuthorizedOrgsGetResponse(serializer.deserialize(decoder))
        }
    }

}
