@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

:root {
  --fp-fp-button-initial-bg: #0e1438;
  --fp-fp-button-hover-bg: #18234f;
  --fp-fp-button-active-bg: #18234f;
  --fp-fp-button-color: #ffffff;
  --fp-fp-button-icon-color: #76fb8f;
  --fp-fp-button-height: 48px;
  --fp-fp-button-border-radius: 6px;
  --fp-fp-button-spacing-paddings-horizontal: 24px;
  --fp-fp-button-typography:  500 17px/28px "DM Sans";

  --fp-loading-bg: rgba(0, 0, 0, 0.6);
  --fp-loading-color: #FFFFFF;
  --fp-loading-border-radius: 4px;
  --fp-loading-padding: 16px;

  --fp-overlay-bg: rgba(0, 0, 0, 0.3);
}

.footprint-body-locked {
  overflow: hidden;
}

.footprint-overlay {
  align-items: center;
  background: var(--fp-overlay-bg);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50000;
}

.footprint-modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50001;
}

@keyframes footprint-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footprint-loading-indicator {
  background: var(--fp-loading-bg);
  border-radius: var(--fp-loading-border-radius);
  padding: var(--fp-loading-padding);
}

.footprint-loading-indicator svg path {
  fill: var(--fp-loading-color);
}

.footprint-loading-spin {
  animation: footprint-rotate 0.8s linear infinite;
}

.footprint-button {
  align-items: center;
  background: var(--fp-fp-button-initial-bg);
  border-radius: var(--fp-fp-button-border-radius);
  border: unset;
  color: var(--fp-fp-button-color);
  cursor: pointer;
  display: flex;
  font: var(--fp-fp-button-typography);
  height: var(--fp-fp-button-height);
  justify-content: center;
  padding: 0 var(--fp-fp-button-spacing-paddings-horizontal);
}

.footprint-button:hover {
  background: var(--fp-fp-button-hover-bg);
}

.footprint-button:active {
  background: var(--fp-fp-button-active-bg);
}

.footprint-button svg {
  margin-right: 8px;
}


.footprint-components-body-locked {
  overflow: hidden;
}

.footprint-components-overlay {
  align-items: center;
  background: var(--fp-overlay-bg);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50000;
}

.footprint-components-modal {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50001;
}

@keyframes footprint-components-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footprint-components-loading-indicator {
  background: var(--fp-loading-bg);
  border-radius: var(--fp-loading-border-radius);
  padding: var(--fp-loading-padding);
}

.footprint-components-loading-indicator svg path {
  fill: var(--fp-loading-color);
}

.footprint-components-loading-spin {
  animation: footprint-components-rotate 0.8s linear infinite;
}

.footprint-components-inline-loader {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footprint-components-inline {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}