
body {
  background: #fff;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.app-form {
  width: 435px;
  border: 1px solid #E2E2E2;
  padding: 32px;
}

.header .title {
  margin-bottom: 8px;
}

.logo {
  margin-bottom: 24px;
}

.title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000;
}

.subtitle {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #2D2D2D;
}

.loading-spinner {
  -webkit-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/** FORM **/
.form-label {
  font-family: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: rgb(0, 0, 0);
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

.form-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 40px;
  background: rgb(255, 255, 255);
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 0, 0);
  outline: none;
  width: 100%;
  display: block;
  padding: 0 16px;
  height: 38px;
  -ms-flex: 1 1 auto; /* IE11 flexbox support */
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

.form-input::-webkit-input-placeholder { /* WebKit browsers */
  color: #666;
}

.form-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.form-input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.form-input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #666;
}

.form-input:hover {
  border-color: rgb(169, 169, 169);
}

.form-input:focus {
  border-color: #555;
}

.form-button {
  margin-top: 12px;
}

.form-error {
  font-family: inherit;
  font-weight: 400;
  font-size: 0.8375rem;
  line-height: 150%;
  margin-top: 6px;
  color: rgb(153, 16, 8);
  text-align: left;
}

.button-primary {
  color: #FFF;
  display: block;
  font-family: inherit;
  font-weight: 525;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline-offset: 4px;
  background-color: #D4002A;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  height: 40px;
  width: 100%;
}

footer {
  margin-top: 20px;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer img {
  margin-right: 8px;
  vertical-align: middle;
}

footer span {
  display: inline-block;
  vertical-align: middle;
}

/** HEADER **/
.intro-step .header {
  margin-bottom: 24px;
}

/** WAITING **/
.waiting-step .loading-spinner {
  margin-top: 24px;
}

/** SUCCESS **/
.success-step .title {
  color: #0A6A4A;
}

.success-step img {
  margin-bottom: 16px;
}

