@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Gray */
  --gray-0: #ffffff;
  --gray-25: #f7f7f7;
  --gray-50: #f7f7f7;
  --gray-100: #e2e2e2;
  --gray-150: #d4d4d4;
  --gray-200: #c6c6c6;
  --gray-300: #a9a9a9;
  --gray-400: #8d8d8d;
  --gray-500: #707070;
  --gray-600: #5a5a5a;
  --gray-700: #444444;
  --gray-800: #2d2d2d;
  --gray-825: #242424;
  --gray-850: #1e1e1e;
  --gray-875: #1a1a1a;
  --gray-900: #161616;
  --gray-950: #0f0f0f;
  --gray-1000: #000000;

  /* Red */
  --red-25: #fffefd;
  --red-50: #fff2f0;
  --red-100: #edd0ce;
  --red-200: #e5a19d;
  --red-300: #d9726c;
  --red-400: #cc433b;
  --red-500: #bf140a;
  --red-600: #991008;
  --red-700: #730c06;
  --red-800: #5e1e18;

  /* Yellow */
  --yellow-25: #fffefd;
  --yellow-50: #fff8eb;
  --yellow-100: #fff2d9;
  --yellow-200: #fee5b5;
  --yellow-300: #ffd582;
  --yellow-400: #ffc759;
  --yellow-500: #ffa617;
  --yellow-600: #f28900;
  --yellow-700: #ba5d00;
  --yellow-800: #9b4e00;
  --yellow-900: #694a1a;

  /* Green */
  --green-25: #f5fefd;
  --green-50: #e9f5f1;
  --green-100: #cee6de;
  --green-200: #9ecebe;
  --green-300: #6db59d;
  --green-400: #3d9d7d;
  --green-500: #0c845c;
  --green-600: #0a6a4a;
  --green-700: #074f37;
  --green-800: #053525;

  /* Blue */
  --blue-25: #f5f3fe;
  --blue-50: #edf3fc;
  --blue-100: #cee2f9;
  --blue-200: #9ec5f3;
  --blue-300: #6da7ee;
  --blue-400: #3d8ae8;
  --blue-500: #0c6de2;
  --blue-600: #0a57b5;
  --blue-700: #074188;
  --blue-800: #0a305f;

  /* Purple */
  --purple-25: #f5f2fc;
  --purple-50: #f5f2fc;
  --purple-100: #ebe7fb;
  --purple-200: #c3b6f3;
  --purple-300: #9d8dee;
  --purple-400: #7a6ae1;
  --purple-450: #6654c9;
  --purple-500: #4a24db;
  --purple-600: #3a1caa;
  --purple-700: #29147a;
  --purple-800: #190c49;

  /* Dark Blue */
  --darkblue-50: #e4e6ec;
  --darkblue-100: #bbc0d1;
  --darkblue-200: #9098b2;
  --darkblue-300: #677194;
  --darkblue-400: #4a5580;
  --darkblue-500: #2c3b6d;
  --darkblue-600: #273466;
  --darkblue-700: #1f2c5b;
  --darkblue-800: #18234f;
  --darkblue-900: #0e1438;

  /* Brand Colors */
  --brand-sleep-100: #f4f6fc;
  --brand-sleep-200: #e9e9f2;
  --brand-sleep-300: #b3b0d1;
  --brand-sleep-800: #0e1438;
  --brand-think-500: #cbc1f6;
  --brand-think-800: #372680;
  --brand-go-500: #76fb8f;
  --brand-go-800: #0b857d;

  /* Background Colors */
  --bg-primary: var(--gray-0);
  --bg-secondary: var(--gray-50);
  --bg-tertiary: var(--brand-sleep-800);
  --bg-quaternary: var(--brand-think-500);
  --bg-quinary: var(--brand-go-500);
  --bg-senary: var(--gray-100);
  --bg-accent: var(--purple-500);
  --bg-error: var(--red-50);
  --bg-info: var(--blue-50);
  --bg-success: var(--green-50);
  --bg-warning: var(--yellow-50);
  --bg-neutral: var(--gray-50);
  --bg-active: var(--purple-50);
  --bg-info-inverted: var(--blue-600);
  --bg-success-inverted: var(--green-600);
  --bg-warning-inverted: var(--yellow-800);
  --bg-neutral-inverted: var(--gray-800);
  --bg-error-inverted: var(--red-700);

  /* Text Colors */
  --text-transparent: transparent;
  --text-primary: var(--gray-1000);
  --text-secondary: var(--gray-800);
  --text-tertiary: var(--gray-500);
  --text-quaternary: var(--gray-400);
  --text-quinary: var(--gray-0);
  --text-senary: var(--brand-think-500);
  --text-septenary: var(--brand-go-500);
  --text-accent: var(--purple-500);
  --text-error: var(--red-600);
  --text-info: var(--blue-600);
  --text-success: var(--green-600);
  --text-warning: var(--yellow-800);
  --text-neutral: var(--gray-800);
  --text-success-inverted: var(--green-50);
  --text-warning-inverted: var(--yellow-50);
  --text-error-inverted: var(--red-50);
  --text-info-inverted: var(--blue-50);
  --text-neutral-inverted: var(--gray-50);

  /* Border Colors */
  --border-transparent: transparent;
  --border-primary: var(--gray-150);
  --border-secondary: var(--purple-400);
  --border-tertiary: var(--gray-100);
  --border-error: var(--red-500);
  --border-info: var(--blue-600);
  --border-success: var(--green-600);
  --border-warning: var(--yellow-800);
  --border-accent: var(--purple-500);
}

.dark {
  /* Background Colors */
  --bg-primary: var(--gray-950);
  --bg-secondary: var(--gray-900);
  --bg-tertiary: var(--brand-sleep-100);
  --bg-quaternary: var(--brand-think-800);
  --bg-quinary: var(--brand-go-800);
  --bg-senary: var(--gray-700);
  --bg-accent: var(--purple-300);
  --bg-error: var(--red-800);
  --bg-info: var(--blue-800);
  --bg-success: var(--green-800);
  --bg-warning: var(--yellow-900);
  --bg-neutral: var(--gray-800);
  --bg-active: var(--gray-700);
  --bg-info-inverted: var(--blue-100);
  --bg-success-inverted: var(--green-200);
  --bg-warning-inverted: var(--yellow-200);
  --bg-neutral-inverted: var(--gray-200);
  --bg-error-inverted: var(--red-200);

  /* Text Colors */
  --text-primary: var(--gray-0);
  --text-secondary: var(--gray-100);
  --text-tertiary: var(--gray-300);
  --text-quaternary: var(--gray-400);
  --text-quinary: var(--gray-1000);
  --text-senary: var(--brand-think-800);
  --text-septenary: var(--brand-go-800);
  --text-accent: var(--purple-800);
  --text-error: var(--red-25);
  --text-info: var(--blue-25);
  --text-success: var(--green-25);
  --text-warning: var(--yellow-25);
  --text-neutral: var(--gray-50);
  --text-success-inverted: var(--green-800);
  --text-warning-inverted: var(--yellow-800);
  --text-error-inverted: var(--red-800);
  --text-info-inverted: var(--blue-800);
  --text-neutral-inverted: var(--gray-800);

  /* Border Colors */
  --border-primary: var(--gray-600);
  --border-secondary: var(--purple-300);
  --border-tertiary: var(--gray-700);
  --border-error: var(--red-300);
}
