body {
  background: #fff;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.app-form {
  width: 500px;
  border: 1px solid #e2e2e2;
  padding: 32px 32px 16px 32px;
}

.app-form-overflow {
  width: 500px;
  border: 1px solid #e2e2e2;
  padding-top: 32px;
  padding-bottom: 16px;
}

.header .title {
  margin-bottom: 8px;
}

.navigation {
  display: -ms-flexbox;
  display: flex;
  margin-top: -32px;
  padding: 16px;
  margin-left: -24px;
}

.back-button {
  position: relative;
  top: 2px;
}

.logo {
  margin-bottom: 24px;
}

.title {
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #000;
}

.subtitle {
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #2d2d2d;
}

.fp-pin-input-container {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  margin-right: -12px; /* Compensate for the gap */
}

.fp-pin-input-container > input {
  margin-right: 12px; /* Create gap between items */
  height: 40px;
  width: 36px;
  padding: 0;
  text-align: center;
  outline: none;
}

.loading-spinner {
  -webkit-animation: spin 1s linear infinite;
  -ms-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/** FORM **/
.form-field {
  width: 100%;
}
.form-label {
  font-family: inherit;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 150%;
  color: rgb(0, 0, 0);
  display: block;
  text-align: left;
  margin-bottom: 8px;
}

.form-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 40px;
  background: rgb(255, 255, 255);
  border-color: rgb(212, 212, 212);
  border-style: solid;
  border-width: 1px;
  color: rgb(0, 0, 0);
  outline: none;
  width: 100%;
  display: block;
  padding: 0 16px;
  height: 38px;
  -ms-flex: 1 1 auto; /* IE11 flexbox support */
  box-sizing: border-box; /* Ensures padding is included in width calculation */
}

/* Add specific styles for select elements */
select.form-input {
  padding-right: 30px; /* Increase right padding to accommodate the arrow */
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='4' viewBox='0 0 8 4'%3E%3Cpath fill='%23666' d='M0 0h8L4 4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.form-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #666;
}

.form-input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #666;
  opacity: 1;
}

.form-input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #666;
  opacity: 1;
}

.form-input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #666;
}

.form-input:hover {
  border-color: rgb(169, 169, 169);
}

.form-input:focus {
  border-color: #555;
}

.form-button {
  margin-top: 12px;
}

.form-error {
  font-family: inherit;
  font-weight: 400;
  font-size: 0.8375rem;
  line-height: 150%;
  margin-top: 6px;
  color: rgb(153, 16, 8);
  text-align: left;
}

.link-button {
  color: #d4002a;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.button {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -ms-user-select: none;
  align-items: center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  cursor: pointer;
  display: -ms-flexbox;
  display: block;
  display: flex;
  font-family: inherit;
  font-size: 0.9375rem;
  font-weight: 525;
  height: 40px;
  justify-content: center;
  line-height: 1.5rem;
  outline-offset: 4px;
  position: relative;
  user-select: none;
  width: 100%;
}

.button-primary {
  background-color: #d4002a;
}

.button-primary:disabled {
  background-color: #ff99aa;
  cursor: not-allowed;
}

.button-secondary {
  background-color: #000;
}

.button-secondary:disabled {
  background-color: #666;
  cursor: not-allowed;
}

footer {
  margin-top: 20px;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer img {
  margin-right: 8px;
  vertical-align: middle;
}

footer span {
  display: inline-block;
  vertical-align: middle;
}

/** HEADER **/
.intro-step .header {
  margin-bottom: 24px;
}

.intro-step .or-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.intro-step .or-divider {
  width: 199px;
  height: 1px;
  background-color: rgb(226, 226, 226);
}

.intro-step .or-text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 50px;
  color: rgb(112, 112, 112);
}

/** OTP **/
.otp-step .subtitle {
  margin-bottom: 24px;
}

.otp-step .fp-pin-input-container {
  margin-bottom: 32px;
}

/** WAITING **/
.waiting-step .loading-spinner {
  margin-top: 24px;
}

/** SUCCESS **/
.success-step .title {
  color: #0a6a4a;
}

.success-step img {
  margin-bottom: 16px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: -6px;
  margin-right: -6px;
}

.col {
  -ms-flex: 1;
  flex: 1;
  padding-left: 6px;
  padding-right: 6px;
  width: 50%;
}

.form .row {
  margin-bottom: 24px;
}

.form .row:last-child {
  margin-bottom: 0;
}

.form .form-field {
  margin-bottom: 24px;
}

.form .form-field:last-child {
  margin-bottom: 0;
}

.basic-data-step .form,
.address-data-step .form,
.custom-data-step .form {
  margin-top: 24px;
}

.form-content {
  height: 600px;
  overflow: auto;
  padding: 0 32px 24px 32px;
}

.form-footer {
  border-top: 1px solid #e2e2e2;
  padding: 16px 32px 0 32px;
}

.radio-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: -12px; /* Simulates gap for IE11 */
  -ms-flex-align: start;
  align-items: flex-start;
}

.radio-group .radio-label {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px; /* Simulates gap for IE11 */
}

.radio-group .radio-label > * + * {
  margin-left: 4px; /* Simulates gap for IE11 */
}
