@import "@onefootprint/ui/styles.css";

@tailwind utilities;

html,
body {
  --navigation-header-height: 56px;
  height: 100%;
}

body {
  background: transparent;
  height: 100%;
  line-height: 1;
}

body #__next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
